
<div class="container">
    <label for="DistanceInput" class="form-label">Enter the distance desired in MGLT</label>
    <input type="number" class="form-control" id="DistanceInput" placeholder="xxx MGLT" #DistanceInput>
    <br>
    <button type="button" class="btn btn-primary" (click)="GetStarshipsStops(DistanceInput.value)">
        Get Stops
    </button>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Starship Name</th>
                    <th>Stops</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of StarshipList">
                    <td>{{item.name}}</td>
                    <td>{{item.stops}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>