<!-- <div class="container">
  <nav class = "navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="nav-item">
      <li class="nav-item">
          <button routerLink="starships" class="m-1 btn btn-light btn-outline-primary" Button>Starships</button>
      </li>
    </ul>
  </nav>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="home"><img src="assets/Images/Darth-Vader.png" width="60px" height="50px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="starships">Starships</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>